	.header {
		width: 800px;
		height: 125px;
		margin-left: 90px;
		background: pink;
	}

	.cclogo {
		padding-left: 15px;
		margin-top: 10px;
		position: relative;
	}
		
	.nav {
		position: absolute;
		top: 100px;
		right: 275px;
	}
	
	.nav_link {
		clear: both;
		padding: 12px;
		color: #663300;
		font-family: 'Montserrat Alternates', sans-serif;
	}
	
	.main_image {
		margin-left: 90px;
		width: 980px;
	}

	.ccake_carousel {
		position: relative;
		width: 800px;
		height: 400px;
		margin-left: 90px;
		background: pink;
		bottom: 4px;
	}

	.footer {
		position: relative;
		width: 800px;
		height: 75px;
		margin-left: 90px;
		background: #663300;
		position: relative;
		bottom: 4px;
	}

	.locations {
		position: absolute;
		text-align: center;
		line-height: 1.5em;
		font-family: 'Montserrat Alternates', sans-serif;
		color: white;
		left: 85px;
		bottom: 2px;
	}

